test/Flow1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
            "id" : "f45d4e2d-544a-382e-8a53-c5e51b528d04",
            "instanceIdentifier" : "018e1015-7d30-16ee-126d-b48f3ffba80e",
            "name" : "input",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "8f68d2d0-5bb4-3c39-a175-d17ae69441e3",
          "identifier" : "b70ca12e-8046-362b-a011-3989460c0eea",
          "instanceIdentifier" : "018e1017-7d30-16ee-f453-4b09bfe4302d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
            "id" : "96d0275c-ec45-3d79-b6a6-601a56d06c39",
            "instanceIdentifier" : "018e1013-7d30-16ee-217e-db7274ae89d9",
            "name" : "output",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "executionEngine" : "INHERITED",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "8f68d2d0-5bb4-3c39-a175-d17ae69441e3",
        "inputPorts" : [ ],
        "instanceIdentifier" : "018e102a-0522-1709-9592-e2c4ffdafdca",
        "labels" : [ ],
        "maxConcurrentTasks" : 1,
        "name" : "CheckVC",
        "outputPorts" : [ ],
        "position" : {
          "x" : 888.0,
          "y" : 616.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
              "id" : "608f3535-a065-30d6-9844-606e34aa803a",
              "instanceIdentifier" : "26f79631-018e-1000-bf07-4f1ad1eb224f",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
            "identifier" : "261b2aac-2076-353f-8813-0e26e139bfad",
            "instanceIdentifier" : "018e1009-7d30-16ee-6473-e831034d8144",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
              "id" : "98f4be0f-5668-3269-a473-b68aa54a3409",
              "instanceIdentifier" : "018e1008-7d30-16ee-9a7a-dfdea3f2e6f6",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
              "id" : "98f4be0f-5668-3269-a473-b68aa54a3409",
              "instanceIdentifier" : "018e1008-7d30-16ee-9a7a-dfdea3f2e6f6",
              "name" : "PutFile",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
            "identifier" : "02a024a1-c85b-3a8d-93a7-2a472a735680",
            "instanceIdentifier" : "018e100b-7d30-16ee-4225-76576ecfefd1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
              "id" : "193612b2-8841-3c5f-abbc-1718f06d214a",
              "instanceIdentifier" : "018e100a-7d30-16ee-3379-dc1b625b6cf0",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
              "id" : "193612b2-8841-3c5f-abbc-1718f06d214a",
              "instanceIdentifier" : "018e100a-7d30-16ee-3379-dc1b625b6cf0",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
            "identifier" : "e7101ba9-c883-3dda-886e-e6bbdd07ff3f",
            "instanceIdentifier" : "018e1016-7d30-16ee-848a-2b309162bfc4",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
              "id" : "f45d4e2d-544a-382e-8a53-c5e51b528d04",
              "instanceIdentifier" : "018e1015-7d30-16ee-126d-b48f3ffba80e",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "executionEngine" : "INHERITED",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "8f68d2d0-5bb4-3c39-a175-d17ae69441e3",
          "identifier" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
            "identifier" : "f45d4e2d-544a-382e-8a53-c5e51b528d04",
            "instanceIdentifier" : "018e1015-7d30-16ee-126d-b48f3ffba80e",
            "name" : "input",
            "portFunction" : "STANDARD",
            "position" : {
              "x" : 504.0,
              "y" : 256.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "018e1010-7d30-16ee-e4cd-9808d1e05b33",
          "labels" : [ ],
          "maxConcurrentTasks" : 1,
          "name" : "Write JSON to filesystem",
          "outputPorts" : [ ],
          "position" : {
            "x" : 768.0,
            "y" : 608.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
            "identifier" : "98f4be0f-5668-3269-a473-b68aa54a3409",
            "instanceIdentifier" : "018e1008-7d30-16ee-9a7a-dfdea3f2e6f6",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1080.0,
              "y" : 432.0
            },
            "properties" : {
              "Create Missing Directories" : "true",
              "Directory" : "/Users/himanshu/Coding/Nifi/Output",
              "Conflict Resolution Strategy" : "fail"
            },
            "propertyDescriptors" : {
              "Group" : {
                "displayName" : "Group",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Group",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Create Missing Directories" : {
                "displayName" : "Create Missing Directories",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Create Missing Directories",
                "sensitive" : false
              },
              "Permissions" : {
                "displayName" : "Permissions",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Permissions",
                "sensitive" : false
              },
              "Maximum File Count" : {
                "displayName" : "Maximum File Count",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum File Count",
                "sensitive" : false
              },
              "Last Modified Time" : {
                "displayName" : "Last Modified Time",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Last Modified Time",
                "sensitive" : false
              },
              "Directory" : {
                "displayName" : "Directory",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Directory",
                "sensitive" : false
              },
              "Conflict Resolution Strategy" : {
                "displayName" : "Conflict Resolution Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Conflict Resolution Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
            "identifier" : "608f3535-a065-30d6-9844-606e34aa803a",
            "instanceIdentifier" : "26f79631-018e-1000-bf07-4f1ad1eb224f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 480.0,
              "y" : 432.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "b0b400d9-d817-3198-9c14-d09f81d9a4a6",
            "identifier" : "193612b2-8841-3c5f-abbc-1718f06d214a",
            "instanceIdentifier" : "018e100a-7d30-16ee-3379-dc1b625b6cf0",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1080.0,
              "y" : 208.0
            },
            "properties" : {
              "filename" : "${filename}-${now():toNumber():format('dd-MM-yy')}.json",
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "filename" : {
                "displayName" : "filename",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "filename",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "scheduledState" : "ENABLED",
          "statelessFlowTimeout" : "1 min"
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
              "id" : "96d0275c-ec45-3d79-b6a6-601a56d06c39",
              "instanceIdentifier" : "018e1013-7d30-16ee-217e-db7274ae89d9",
              "name" : "output",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
            "identifier" : "52be1458-2f8f-30b4-a2bb-475f40bc3930",
            "instanceIdentifier" : "018e1014-7d30-16ee-55d2-851ccb2c6782",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
              "id" : "7e785ffb-d766-368a-a7ec-00beb62e6547",
              "instanceIdentifier" : "018e1000-7d30-16ee-42f1-e8f61b613bca",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
              "id" : "8fcafcf4-e977-398f-8457-cdab05efe380",
              "instanceIdentifier" : "26f98c15-018e-1000-7ffb-eff902e0f925",
              "name" : "ExtractText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
            "identifier" : "1bc0d9e6-951c-3047-8aca-3b15fb6f81fe",
            "instanceIdentifier" : "26f85c68-018e-1000-6cd2-651d81c7ce06",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
              "id" : "aa73eaa7-de58-3f0a-b80b-ed2f420b9081",
              "instanceIdentifier" : "26ee7d30-018e-1000-9c94-1b16e57c72e6",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
              "id" : "aa73eaa7-de58-3f0a-b80b-ed2f420b9081",
              "instanceIdentifier" : "26ee7d30-018e-1000-9c94-1b16e57c72e6",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
            "identifier" : "8cfa2762-988e-3ca4-93a3-443678cb7d7b",
            "instanceIdentifier" : "26ee9d47-018e-1000-a4d7-ff811a53a200",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
              "id" : "c71ed16f-0244-35fb-a19f-8708029ae4b7",
              "instanceIdentifier" : "26edde37-018e-1000-3e65-228f32498868",
              "name" : "GenerateFlowFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
              "id" : "7e785ffb-d766-368a-a7ec-00beb62e6547",
              "instanceIdentifier" : "018e1000-7d30-16ee-42f1-e8f61b613bca",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
            "identifier" : "ba0439c9-3d67-392c-b49c-caad0ced2580",
            "instanceIdentifier" : "27090522-018e-1000-6cdd-abd9700ffe75",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
              "id" : "8fcafcf4-e977-398f-8457-cdab05efe380",
              "instanceIdentifier" : "26f98c15-018e-1000-7ffb-eff902e0f925",
              "name" : "ExtractText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "executionEngine" : "INHERITED",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "8f68d2d0-5bb4-3c39-a175-d17ae69441e3",
          "identifier" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
          "inputPorts" : [ ],
          "instanceIdentifier" : "018e100e-7d30-16ee-00e9-530e58a98777",
          "labels" : [ ],
          "maxConcurrentTasks" : 1,
          "name" : "CSV to JSON",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
            "identifier" : "96d0275c-ec45-3d79-b6a6-601a56d06c39",
            "instanceIdentifier" : "018e1013-7d30-16ee-217e-db7274ae89d9",
            "name" : "output",
            "portFunction" : "STANDARD",
            "position" : {
              "x" : 880.0,
              "y" : 576.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 768.0,
            "y" : 248.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
            "identifier" : "8fcafcf4-e977-398f-8457-cdab05efe380",
            "instanceIdentifier" : "26f98c15-018e-1000-7ffb-eff902e0f925",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ExtractText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1160.0,
              "y" : 360.0
            },
            "properties" : {
              "Enable Unicode Predefined Character Classes" : "false",
              "Permit Whitespace and Comments in Pattern" : "false",
              "Enable Unicode-aware Case Folding" : "false",
              "Enable named group support" : "false",
              "csv" : "(.+),(.+),(.+),(.+)",
              "Enable DOTALL Mode" : "false",
              "Enable Unix Lines Mode" : "false",
              "Maximum Buffer Size" : "1 MB",
              "Enable Canonical Equivalence" : "false",
              "Enable Case-insensitive Matching" : "false",
              "Enable Multiline Mode" : "false",
              "Enable repeating capture group" : "false",
              "Maximum Capture Group Length" : "1024",
              "Enable Literal Parsing of the Pattern" : "false",
              "Character Set" : "UTF-8",
              "Include Capture Group 0" : "true"
            },
            "propertyDescriptors" : {
              "Enable Unicode Predefined Character Classes" : {
                "displayName" : "Enable Unicode Predefined Character Classes",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Unicode Predefined Character Classes",
                "sensitive" : false
              },
              "Permit Whitespace and Comments in Pattern" : {
                "displayName" : "Permit Whitespace and Comments in Pattern",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Permit Whitespace and Comments in Pattern",
                "sensitive" : false
              },
              "Enable Unicode-aware Case Folding" : {
                "displayName" : "Enable Unicode-aware Case Folding",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Unicode-aware Case Folding",
                "sensitive" : false
              },
              "Enable named group support" : {
                "displayName" : "Enable named group support",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable named group support",
                "sensitive" : false
              },
              "csv" : {
                "displayName" : "csv",
                "dynamic" : true,
                "identifiesControllerService" : false,
                "name" : "csv",
                "sensitive" : false
              },
              "Enable DOTALL Mode" : {
                "displayName" : "Enable DOTALL Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable DOTALL Mode",
                "sensitive" : false
              },
              "Enable Unix Lines Mode" : {
                "displayName" : "Enable Unix Lines Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Unix Lines Mode",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Enable Canonical Equivalence" : {
                "displayName" : "Enable Canonical Equivalence",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Canonical Equivalence",
                "sensitive" : false
              },
              "Enable Case-insensitive Matching" : {
                "displayName" : "Enable Case-insensitive Matching",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Case-insensitive Matching",
                "sensitive" : false
              },
              "Enable Multiline Mode" : {
                "displayName" : "Enable Multiline Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Multiline Mode",
                "sensitive" : false
              },
              "Enable repeating capture group" : {
                "displayName" : "Enable repeating capture group",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable repeating capture group",
                "sensitive" : false
              },
              "Maximum Capture Group Length" : {
                "displayName" : "Maximum Capture Group Length",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Capture Group Length",
                "sensitive" : false
              },
              "Enable Literal Parsing of the Pattern" : {
                "displayName" : "Enable Literal Parsing of the Pattern",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Enable Literal Parsing of the Pattern",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Include Capture Group 0" : {
                "displayName" : "Include Capture Group 0",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Include Capture Group 0",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExtractText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
            "identifier" : "c71ed16f-0244-35fb-a19f-8708029ae4b7",
            "instanceIdentifier" : "26edde37-018e-1000-3e65-228f32498868",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GenerateFlowFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 496.0,
              "y" : 144.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "File Size" : "1B",
              "Batch Size" : "1",
              "Unique FlowFiles" : "true",
              "Data Format" : "Text"
            },
            "propertyDescriptors" : {
              "character-set" : {
                "displayName" : "Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "File Size" : {
                "displayName" : "File Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "File Size",
                "sensitive" : false
              },
              "mime-type" : {
                "displayName" : "Mime Type",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "mime-type",
                "sensitive" : false
              },
              "generate-ff-custom-text" : {
                "displayName" : "Custom Text",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "generate-ff-custom-text",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Unique FlowFiles" : {
                "displayName" : "Unique FlowFiles",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Unique FlowFiles",
                "sensitive" : false
              },
              "Data Format" : {
                "displayName" : "Data Format",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Data Format",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 min",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
            "identifier" : "aa73eaa7-de58-3f0a-b80b-ed2f420b9081",
            "instanceIdentifier" : "26ee7d30-018e-1000-9c94-1b16e57c72e6",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1160.0,
              "y" : 136.0
            },
            "properties" : {
              "Regular Expression" : "(?s)(^.*$)",
              "Replacement Value" : "a, b, c, d",
              "Evaluation Mode" : "Line-by-Line",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Regex Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Text to Prepend" : {
                "displayName" : "Text to Prepend",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Text to Prepend",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              },
              "Text to Append" : {
                "displayName" : "Text to Append",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Text to Append",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.0.0-M2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "cce01f5b-b2c6-35a8-8fc0-d250bccd85a3",
            "identifier" : "7e785ffb-d766-368a-a7ec-00beb62e6547",
            "instanceIdentifier" : "018e1000-7d30-16ee-42f1-e8f61b613bca",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 488.0,
              "y" : 360.0
            },
            "properties" : {
              "Regular Expression" : "(?s)(^.*$)",
              "Replacement Value" : "{\n\t\"field1\": \"${csv.1}\",\n\t\"field2\": \"${csv.2}\",\n\t\"field3\": \"${csv.3}\",\n\t\"field4\": \"${csv.4}\"\n}",
              "Evaluation Mode" : "Line-by-Line",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Regex Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Text to Prepend" : {
                "displayName" : "Text to Prepend",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Text to Prepend",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              },
              "Text to Append" : {
                "displayName" : "Text to Append",
                "dynamic" : false,
                "identifiesControllerService" : false,
                "name" : "Text to Append",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "scheduledState" : "ENABLED",
          "statelessFlowTimeout" : "1 min"
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "scheduledState" : "ENABLED",
        "statelessFlowTimeout" : "1 min"
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}